<h1>
  Réponse à votre question :
</h1>

<p>
  La réponse à la question "<%= @question %>" est donnée ci-après.
</p>

<p>
  La réponse du Coach est la suivante : "<%= @reponse %>"
</p>

<%= link_to 'Poser une nouvelle question !?', '/ask', class: "btn btn-primary" %>
